@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*Con esto ahora 10px=1rem*/
  font-family: "Calibri", "Times New Roman", Times, sans-serif;
  scroll-behavior: smooth;
  color: black;
}

.normalizar { /*transforma el tamaño a uno perfectamente legible*/
  font-size: 2rem; /*=16px*/
  text-align: justify;
}

ul, ol, li, a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style-type: none;
}

ul a, ol a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: start;
}

.subRayar {
  text-decoration: underline;
}

.padingbody {
  padding: 10px;
}

.conteiner { /*imagen de fondo para inicios del main*/
  background-image: url(../assets/img/fondo_DnD2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: 10px;
}
.conteiner p {
  padding: 10px;
}

.colorClaroLetra {
  color: rgb(245, 245, 220);
}

footer { /*cambia el color del fondo*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
}
footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.pie-de-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  flex-direction: row;
  padding: 10px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* inicio de clases para navegador */
nav {
  min-height: 50px;
  max-height: 100%;
  max-width: 100%;
}
nav a {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

header div div div span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(175, 175, 175), transparent);
  transition: 0.5s;
  z-index: 1;
}

header div:hover span {
  left: 100%;
}

.centrar {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 10px;
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}
.logo-img:hover {
  width: 60px;
  height: 60px;
}

.logo-nombre {
  font-size: 2rem;
  transition: 0.5s;
}
.logo-nombre:hover {
  font-size: 2.5rem;
}

.selector {
  transition: 0.5s;
}
.selector:hover {
  background-color: aliceblue;
  border-radius: 10px;
}

.paginasLink div h2 button, .canalesLink div h2 button {
  font-size: 1.6rem;
}

.redes-personales {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.redes-personales a {
  color: rgb(0, 0, 0);
}

.discord-comunidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.discord-comunidad a {
  color: rgb(0, 0, 0);
}

.logo-dimension {
  height: 60px;
  width: 60px;
  transition: 1.5s;
}
.logo-dimension:hover {
  transform: rotate(360deg);
}

.cuestionario-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: inherit;
  font-size: 100%;
  width: 100%;
}
.cuestionario-dos input, .cuestionario-dos textarea {
  border-radius: 10px;
  width: 100%;
}
.cuestionario-dos input:focus, .cuestionario-dos textarea:focus {
  background-color: wheat;
}

.cuestionario-aux {
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.cuestionario-bg {
  background-color: rgba(128, 128, 128, 0.5);
}

.cuestionario-dos-button {
  width: 100%;
}

.galeria-clases {
  padding: 20px;
  background-color: tan;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "caja1 caja2 caja9 caja12" "caja6 caja5 caja8 caja7" "caja3 caja10 caja11 caja4";
  padding: 10px;
  gap: 10px;
}

.box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(165, 42, 42, 0.3);
  box-shadow: 5px 5px 5px rgb(144, 134, 112);
  width: 100%;
  min-height: 400px;
  max-height: 100%;
  font-size: 2rem;
}
.box-item img {
  width: 100%;
}

.c1 {
  grid-area: caja1;
}

.c2 {
  grid-area: caja2;
}

.c3 {
  grid-area: caja3;
}

.c4 {
  grid-area: caja4;
}

.c5 {
  grid-area: caja5;
}

.c6 {
  grid-area: caja6;
}

.c7 {
  grid-area: caja7;
}

.c8 {
  grid-area: caja8;
}

.c9 {
  grid-area: caja9;
}

.c10 {
  grid-area: caja10;
}

.c11 {
  grid-area: caja11;
}

.c11 img {
  height: 100%;
}

.c12 {
  grid-area: caja12;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
}

.informacionRazas {
  width: 100%;
  padding: 10px;
  gap: 10px;
  display: grid;
  place-content: center;
}

.informacionRazas-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: bisque;
}
.informacionRazas-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.informacionRazas-card img {
  width: 200px;
  height: 400px;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/img/dm.jpg");
  /* background-color: rgba(126, 85, 32, 0.185); */
  gap: 2%;
  background-size: cover;
  background-attachment: fixed;
}
.hero h1 {
  text-align: start;
  color: transparent;
  font-size: 6rem;
  background-image: url("../assets/img/dm.jpg");
  background-position: top center;
  background-size: cover;
  background-clip: text;
  background-attachment: fixed;
  transition: 0.5s;
}
.hero h1:hover {
  transform: scale(1.2);
}

.hero-titular {
  height: 50%;
  width: 50%;
}

.dados-img {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: 2s;
}
.dados-img:hover {
  transform: rotate(360deg);
}

.bc-primary {
  background-color: rgb(126, 85, 32);
}

.bc-secundary {
  background-color: rgb(241, 196, 111);
}

.bc-terciary {
  background-color: rgb(92, 57, 11);
}

.bc-intermedio {
  background-color: rgb(177, 137, 63);
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 20px;
  }
  .hero-titular {
    height: 100%;
    width: 100%;
  }
  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja6" "caja7 caja8" "caja9 caja10" "caja11 caja12";
  }
  .informacionRazas-card {
    flex-direction: column;
  }
  .informacionRazas-card:nth-child(odd) {
    flex-direction: column;
  }
  .informacionRazas-card img {
    width: 50%;
    height: 75%;
    object-fit: contain;
  }
  header div div div span {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero {
    flex-direction: column;
    padding: 20px;
  }
  .hero-titular {
    height: 100%;
    width: 100%;
  }
  .dados-img {
    height: 250px;
    width: 250px;
  }
  .box {
    display: grid;
    grid-template-columns: none;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5" "caja6" "caja7" "caja8" "caja9" "caja10" "caja11" "caja12";
  }
}

/*# sourceMappingURL=style.css.map */
