footer{ /*cambia el color del fondo*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: $dark;
    text-align: center;
    justify-content:center;

    a{
        color: $dark;
        text-decoration: none;
    }
}

.pie-de-pagina{
    @include flexin(center, center, 20px);
    font-size: 16px;
    flex-direction: row;
    padding: 10px;
}

.logo-footer{
    @include flexin(center, center, 10px);
}