@mixin flexin($justyc, $aligni, $gapx){
    display: flex;
    justify-content: $justyc;
    align-items: $aligni;
    gap: $gapx;
}

@mixin no-gap-flexin($justyc, $aligni){
    display: flex;
    justify-content: $justyc;
    align-items: $aligni;
}

@mixin flexinvdos($flexd, $aligni, $texta){
    display: flex;
    flex-direction: $flexd;
    align-items: $aligni;
    text-align: $texta;
}