//variables especificas//
$hover-color-select: aliceblue;
$focus-form: wheat;
$fondo-color-form: rgb(128, 128, 128, 0.5);
$dark: rgb(0,0,0);
$white: rgb(255, 255, 255);
$color-claro: rgb(245, 245, 220);
$color-card-razas: bisque;
$color-galery: tan;
$color-card-clases: rgba(165, 42, 42, 0.25);
$sombra-card: rgb(144, 134, 112);


//variables no especificadas//
$colores: (
    primary: rgb(126, 85, 32),
    secundary: rgb(241, 196, 111),
    terciary: rgb(92, 57, 11),
    intermedio: rgb(177, 137, 63),
);