//variables especificas//
$hover-color-select: aliceblue;
$focus-form: wheat;
$fondo-color-form: rgb(128, 128, 128, 0.5);
$div-span-color: rgb(175, 175, 175) ;
$dark: rgb(0,0,0);
$white: rgb(255, 255, 255);
$color-claro: rgb(245, 245, 220);
$color-card-razas: bisque;
$color-galery: tan;
$sombra-card: rgb(144, 134, 112);

//variables especificas de baja opacidad//
$color-card-clases: rgba(165, 42, 42, 0.30);
$color-dark-opacity: rgb(0, 0, 0, 0.85);
$color-white-opacity: rgb(255, 255, 255, 0.50);
$primary-opacity: rgb(126, 85, 32, 0.30);
$secundary-opacity:rgb(241, 196, 111) ;



//variables no especificadas//
$colores: (
    primary: rgb(126, 85, 32),
    secundary: rgb(241, 196, 111),
    terciary: rgb(92, 57, 11),
    intermedio: rgb(177, 137, 63),
);