.redes-personales{
    @include flexinvdos(column, center, justify);
    a{
        color: $dark;
    }
}

.discord-comunidad{
    @include flexinvdos(column, center, justify);
    a{
        color: $dark;
    }
}

.logo-dimension{
    height: 60px;
    width: 60px;
    transition: 1.5s;

    &:hover{
        transform: rotate(360deg);
    }
}



.cuestionario-dos{
    @include flexin(center, center, 10px);
    flex-direction: column;
    padding: 10px;
    font-family: inherit;
    font-size: 100%;
    width: 100%;

    input, textarea{
        border-radius: 10px;
        width: 100%;
    }

    input:focus, textarea:focus{
        background-color: $focus-form;
    }
}

.cuestionario-aux{
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.cuestionario-bg{
    background-color: $fondo-color-form
}

.cuestionario-dos-button{
    width: 100%;
}

.boton-animado{
    display: inline-flex;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    span{
        position: relative;
        transition: .3s ease-in-out all;
        z-index: 2;
    }
}

.boton-animado:after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
    transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton-animado:hover::after {
	transform: scale(400);
	background: $secundary-opacity;
}