.informacionRazas{
    width: 100%;
    // background-color: rgb(177, 137, 63);
    padding: 10px;
    gap: 10px;
    display: grid;
    place-content: center;
}

.informacionRazas-card{
    @include flexin(space-between, center, 10px);
    // display: flex;
    padding: 10px;
    // gap: 10px;
    // align-items: center;
    // justify-content: space-between;
    background-color: $color-card-razas;

    &:nth-child(odd){
        flex-direction: row-reverse;
    }

    img{
        width: 200px;
        height: 400px;
        border-radius: 15px;
        border: 2px solid $dark;
    }
}