@media (max-width: 992px) {
    .hero{
        flex-direction: column;
        padding: 20px;
    }

    .hero-titular{
        height: 100%;
        width: 100%;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        grid-template-areas:
        "caja1 caja2"
        "caja3 caja4"
        "caja5 caja6"
        "caja7 caja8"
        "caja9 caja10"
        "caja11 caja12";
    }

    .informacionRazas-card{
        flex-direction: column;

    }

    .informacionRazas-card:nth-child(odd){
        flex-direction: column;
    }

    .informacionRazas-card img{
        width: 50%;
        height: 75%;
        object-fit:contain;
    }

    header div div div span{
        display: none;
    }



}

@media (max-width: 576px){
    .hero{
        flex-direction: column;
        padding: 20px;
    }

    .hero-titular{
        height: 100%;
        width: 100%;
    }

    .dados-img{
        height: 250px;
        width: 250px;
    }

    .box{
        display: grid;
        grid-template-columns:none ;
        grid-template-areas:
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        "caja5"
        "caja6"
        "caja7"
        "caja8"
        "caja9"
        "caja10"
        "caja11"
        "caja12";
    }
}